.section-features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: 0px;
    margin-right: 0 px;
    }
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

  .feature__text {
    @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width:1200px) {
    width: calc((100% - 90px) / 4);
    }
  }

.features h3 {
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    @media screen and (max-width: 767px) {
    text-align: center;
    }
}

.features p {
    color: var(--second-text-color);

    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.feature__title {
    margin-bottom: 10px;
}

.feature__icon {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 4px;

    background-color: var(--team-color);
}