.footer-row {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.logo-footer {
    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        margin-left: 72px;
        margin-right: 165px;
        }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        margin-left: 0;
        margin-right: 0;
    }
}

.adress__card {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer-social {
    display: inline-block;
    // margin-left: 70px;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.footer-join {
    margin-bottom: 20px;
    text-align: center;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    color: var(--primary-site-color);

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer-icons {
    display: flex;
    justify-content: center;

    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 102px;
    }

    @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    }
}

.footer-icons__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.footer-icons__socials {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-site-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--second-color);
    }
}

.footer,
.adress {
    font-style: normal;
    background-color: var(--background-color-site);
}

.adress .link {
    text-decoration: none;
    color: var(--primary-site-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--second-color);
    }
}

.adress .mail {
    color: var(--contacts-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:hover {
        color: var(--second-color);
    }
}

.adress .tel {
    color: var(--contacts-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--second-color);
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.adress__link,
.adress__mail{
    margin-bottom: 9px;
}

.footer-input {
    display: flex;
    flex-direction: column;
    margin: auto;

    @media screen and (min-width: 1200px) {
        display: block;
        margin-left: 93px;
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.footer-subscription {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

    @media screen and (min-width: 1200px) {
        text-align:start;
    }
}

.footer-email {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

.input-email {
    display: flex;
    padding-left: 16px;
    margin-bottom: 20px;
    align-items: center;
    width: 450px;
    height: 50px;

    letter-spacing: 0.03em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);

    color: rgba(255, 255, 255, 0.6);
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        width: 358px;
    }
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    // margin-left: 12px;
    

    cursor: pointer;

    background: var(--second-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    color: var(--primary-site-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
    }

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }
}

.footer-icon-button {
    margin-left: 10px;
    align-items: center;

    fill: var(--primary-site-color);
}