.hero {
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    background-color: var(--background-color-site);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
    width: 768px;
    }

    @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;  
    }
}

.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--general-site-color);

    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60/44);

    }
}

.hero__button {
    border-radius: 4px;
    border-color: transparent;
    align-items: center;
    text-align: center;
    padding: 10px 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--general-site-color);
    background-color: var(--second-color);

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

